# {{ ansible_managed }}
! Configuration File for keepalived

global_defs {
   router_id CEPH_RGW
}

vrrp_script check_haproxy {
    script "killall -0 haproxy"
    weight -20
    interval 2
    rise 2
    fall 2
}

{% for instance in vrrp_instances %}
vrrp_instance {{ instance['name'] }} {
    state {{ 'MASTER' if ansible_hostname == 'controller002-stg.core-x.net' else 'BACKUP' }}
    priority {{ '100' if ansible_hostname == 'controller002-stg.core-x.net' else '90' }}
    interface {{ instance['interface'] }}
    virtual_router_id {{ 50 + loop.index }}
    garp_master_delay 10
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1234
    }
    virtual_ipaddress {
        {{ instance['vip'] }}/{{ instance['netmask'] }} dev {{ instance['interface'] }}
    }
{% if instance['virtual_route_source'] and instance['virtual_route_gateway'] %}
    virtual_routes {
        {{ instance['virtual_route_source'] }} via {{ instance['virtual_route_gateway'] }} dev {{ instance['interface'] }}
    }
{% endif %}
    track_script {
        check_haproxy
    }
}

{% endfor %}
